.content {
  padding: 100rpx 0;
  text-align: center;
}

.title {
  font-size: 72rpx;
  color: #000000;
  font-weight: 600;
}

page {
  height: 100%;
  width: 750rpx;
  display: flex;
  justify-content: center;
  align-items: center;
}